@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body{
background-image: url('https://img.freepik.com/free-vector/memphis-pattern_1045-810.jpg?size=338&ext=jpg&ga=GA1.2.1656408432.1635552000');
}
.overlay{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.navbar{
  font-family: "Alfa Slab One";
  background: #b0dee5;
  border-bottom: 5px solid #111111;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-link{
  color: #111111;
  font-size: 2em;
}
.navbar h1, h2{
  text-align: center;
  margin-left: auto;
  color: #111111;
}
.nav-link:hover{
  color: #BE0029;
}
.navbar-collapse{
  justify-content: flex-end;
}


h2{
  font-family: "Alfa Slab One";
}

.container-sm{
  border: 3px solid #111111;
  border-radius: 5px;
  background: #d7eef2;
  margin-left: 30%;
  margin-top: 10em;
  padding: 60px;
  width: 40%;
}

.form-group{
  font-family: sans-serif;
}
.btn{
  background: #fdfefe;
  border: 3px solid #111111;
  font-family: "Alfa Slab One";
}
.btn:hover{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
